In [74]:
import pandas as pd
import numpy as np
import sys
import os
sys.path.append(os.path.abspath('../'))


from scripts.data_loader import load_data
from scripts.data_cleaning import merge_all

data = load_data()
mf = merge_all(data)
mf.head()

,sale_id,sale_date,store_id,product_id,quantity,Product_ID,Product_Name,Category_ID,Launch_Date,Price,Store_ID,Store_Name,City,Country,category_id,category_name,claim_id,claim_date,repair_status
0,YG-8782,16-06-2023,ST-10,P-38,10,P-38,iPhone 13 Pro,CAT-4,2021-03-22,308,ST-10,Apple South Coast Plaza,Costa Mesa,United States,CAT-4,Smartphone,CL-58750,2024-01-30,Completed
1,QX-999001,13-04-2022,ST-63,P-48,10,P-48,Apple Watch Nike Edition,CAT-5,2020-06-24,884,ST-63,Apple Parque La Colina,Bogota,Colombia,CAT-5,Wearable,CL-8874,2024-06-25,Pending
2,JG-46890,05-07-2021,ST-26,P-79,5,P-79,Magic Trackpad,CAT-10,2024-05-25,1242,ST-26,Apple Leidseplein,Amsterdam,Netherlands,CAT-10,Accessories,CL-14486,2024-08-13,Pending
3,XJ-1731,20-07-2022,ST-15,P-24,9,P-24,iPad mini (6th Generation),CAT-3,2022-11-27,573,ST-15,Apple Downtown Brooklyn,Brooklyn,United States,CAT-3,Tablet,CL-42187,2024-09-19,Pending
4,FG-95080,18-03-2022,ST-35,P-69,7,P-69,Apple TV+,CAT-8,2024-11-04,404,ST-35,Apple Shanghai IFC,Shanghai,China,CAT-8,Subscription Service,CL-37590,2024-09-16,Completed

In [75]:
print("=== Dataset Info ===")
print(mf.info())
print("\nNumber of rows:", mf.shape[0])
print("Number of columns:", mf.shape[1])

mf.head()

=== Dataset Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040200 entries, 0 to 1040199
Data columns (total 19 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   sale_id        1040200 non-null  object
 1   sale_date      1040200 non-null  object
 2   store_id       1040200 non-null  object
 3   product_id     1040200 non-null  object
 4   quantity       1040200 non-null  int64
 5   Product_ID     1040200 non-null  object
 6   Product_Name   1040200 non-null  object
 7   Category_ID    1040200 non-null  object
 8   Launch_Date    1040200 non-null  object
 9   Price          1040200 non-null  int64
 10  Store_ID       1040200 non-null  object
 11  Store_Name     1040200 non-null  object
 12  City           1040200 non-null  object
 13  Country        1040200 non-null  object
 14  category_id    1040200 non-null  object
 15  category_name  1040200 non-null  object
 16  claim_id       30000 non-null    object
 17  claim_date     30000 non-null    object
 18  repair_status  30000 non-null    object
dtypes: int64(2), object(17)
memory usage: 150.8+ MB
None

Number of rows: 1040200
Number of columns: 19

,sale_id,sale_date,store_id,product_id,quantity,Product_ID,Product_Name,Category_ID,Launch_Date,Price,Store_ID,Store_Name,City,Country,category_id,category_name,claim_id,claim_date,repair_status
0,YG-8782,16-06-2023,ST-10,P-38,10,P-38,iPhone 13 Pro,CAT-4,2021-03-22,308,ST-10,Apple South Coast Plaza,Costa Mesa,United States,CAT-4,Smartphone,CL-58750,2024-01-30,Completed
1,QX-999001,13-04-2022,ST-63,P-48,10,P-48,Apple Watch Nike Edition,CAT-5,2020-06-24,884,ST-63,Apple Parque La Colina,Bogota,Colombia,CAT-5,Wearable,CL-8874,2024-06-25,Pending
2,JG-46890,05-07-2021,ST-26,P-79,5,P-79,Magic Trackpad,CAT-10,2024-05-25,1242,ST-26,Apple Leidseplein,Amsterdam,Netherlands,CAT-10,Accessories,CL-14486,2024-08-13,Pending
3,XJ-1731,20-07-2022,ST-15,P-24,9,P-24,iPad mini (6th Generation),CAT-3,2022-11-27,573,ST-15,Apple Downtown Brooklyn,Brooklyn,United States,CAT-3,Tablet,CL-42187,2024-09-19,Pending
4,FG-95080,18-03-2022,ST-35,P-69,7,P-69,Apple TV+,CAT-8,2024-11-04,404,ST-35,Apple Shanghai IFC,Shanghai,China,CAT-8,Subscription Service,CL-37590,2024-09-16,Completed

In [76]:
df.head()

,sale_id,sale_date,store_id,product_id,quantity,product_name,launch_date,price,store_name,city,country,category_id,category_name,sales_amount,product_age_days
0,RW-18212,2020-01-01,ST-41,P-73,2,Apple One,2020-05-02,488,Apple Central World,Bangkok,Thailand,CAT-8,Subscription Service,976,0
1,RX-6848,2020-01-01,ST-31,P-40,7,iPhone SE (3rd Generation),2022-11-10,923,Apple Shinjuku,Tokyo,Japan,CAT-4,Smartphone,6461,0
2,SV-39198,2020-01-01,ST-9,P-73,7,Apple One,2020-05-02,488,Apple Park Visitor Center,Cupertino,United States,CAT-8,Subscription Service,3416,0
3,ZI-218670,2020-01-01,ST-20,P-70,1,Apple Fitness+,2021-05-06,923,Apple Kaerntner Strasse,Vienna,Austria,CAT-8,Subscription Service,923,0
4,VB-48589,2020-01-01,ST-60,P-18,9,Beats Solo Pro,2024-02-26,1773,Apple Antara,Mexico City,Mexico,CAT-2,Audio,15957,0

In [77]:
print("\n=== Duplicate Rows ===")
duplicates = mf.duplicated().sum()
print(f"Total duplicate rows: {duplicates}")

print("\n=== Missing Values ===")
missing_values = mf.isnull().sum()
print(missing_values[missing_values > 0])

=== Duplicate Rows ===
Total duplicate rows: 0

=== Missing Values ===
claim_id         1010200
claim_date       1010200
repair_status    1010200
dtype: int64

In [78]:
print("\n=== Inconsistent Column Names (Possible Duplicates) ===")
cols_lower = [c.lower() for c in mf.columns]
duplicates_in_columns = [c for c in set(cols_lower) if cols_lower.count(c) > 1]
print(duplicates_in_columns)

print("\n=== Data Types ===")
print(mf.dtypes)

=== Inconsistent Column Names (Possible Duplicates) ===
['product_id', 'category_id', 'store_id']

=== Data Types ===
sale_id          object
sale_date        object
store_id         object
product_id       object
quantity          int64
Product_ID       object
Product_Name     object
Category_ID      object
Launch_Date      object
Price             int64
Store_ID         object
Store_Name       object
City             object
Country          object
category_id      object
category_name    object
claim_id         object
claim_date       object
repair_status    object
dtype: object

In [79]:
print("\n=== Summary Statistics ===")
print(mf.describe(include='all'))

print("\n=== Unique Values per Column ===")
for col in mf.columns:
    unique_values = mf[col].nunique()
    print(f"{col}: {unique_values} unique values")

print("\n=== Sample Data ===")
print(mf.sample(5))

=== Summary Statistics ===
        sale_id   sale_date store_id product_id      quantity Product_ID  \
count   1040200     1040200  1040200    1040200  1.040200e+06    1040200
unique  1040200        1778       75         89           NaN         89
top     YG-8782  10-08-2022    ST-30       P-60           NaN       P-60
freq          1         661    14113      11893           NaN      11893
mean        NaN         NaN      NaN        NaN  5.500235e+00        NaN
std         NaN         NaN      NaN        NaN  2.874295e+00        NaN
min         NaN         NaN      NaN        NaN  1.000000e+00        NaN
25%         NaN         NaN      NaN        NaN  3.000000e+00        NaN
50%         NaN         NaN      NaN        NaN  5.000000e+00        NaN
75%         NaN         NaN      NaN        NaN  8.000000e+00        NaN
max         NaN         NaN      NaN        NaN  1.000000e+01        NaN

        Product_Name Category_ID Launch_Date         Price Store_ID  \
count        1040200     1040200     1040200  1.040200e+06  1040200
unique            88          10          88           NaN       75
top     HomePod mini      CAT-10  2023-11-10           NaN    ST-30
freq           23442      163849       23620           NaN    14113
mean             NaN         NaN         NaN  1.077787e+03      NaN
std              NaN         NaN         NaN  4.986517e+02      NaN
min              NaN         NaN         NaN  2.310000e+02      NaN
25%              NaN         NaN         NaN  6.230000e+02      NaN
50%              NaN         NaN         NaN  1.149000e+03      NaN
75%              NaN         NaN         NaN  1.436000e+03      NaN
max              NaN         NaN         NaN  1.965000e+03      NaN

             Store_Name     City        Country category_id category_name  \
count           1040200  1040200        1040200     1040200       1040200
unique               69       47             19          10            10
top     Apple Chadstone    Dubai  United States      CAT-10   Accessories
freq              27851    55619         207728      163849        163849
mean                NaN      NaN            NaN         NaN           NaN
std                 NaN      NaN            NaN         NaN           NaN
min                 NaN      NaN            NaN         NaN           NaN
25%                 NaN      NaN            NaN         NaN           NaN
50%                 NaN      NaN            NaN         NaN           NaN
75%                 NaN      NaN            NaN         NaN           NaN
max                 NaN      NaN            NaN         NaN           NaN

        claim_id  claim_date repair_status
count      30000       30000         30000
unique     30000         317             4
top     CL-58750  2024-04-08   In Progress
freq           1         127          7611
mean         NaN         NaN           NaN
std          NaN         NaN           NaN
min          NaN         NaN           NaN
25%          NaN         NaN           NaN
50%          NaN         NaN           NaN
75%          NaN         NaN           NaN
max          NaN         NaN           NaN

=== Unique Values per Column ===
sale_id: 1040200 unique values
sale_date: 1778 unique values
store_id: 75 unique values
product_id: 89 unique values
quantity: 10 unique values
Product_ID: 89 unique values
Product_Name: 88 unique values
Category_ID: 10 unique values
Launch_Date: 88 unique values
Price: 86 unique values
Store_ID: 75 unique values
Store_Name: 69 unique values
City: 47 unique values
Country: 19 unique values
category_id: 10 unique values
category_name: 10 unique values
claim_id: 30000 unique values
claim_date: 317 unique values
repair_status: 4 unique values

=== Sample Data ===
          sale_id   sale_date store_id product_id  quantity Product_ID  \
252977   PX-14362  13-07-2021    ST-68       P-48         4       P-48
778682  ZU-012354  09-03-2020    ST-74       P-62         5       P-62
339704    OW-8581  18-08-2022     ST-9       P-26         3       P-26
936208  OY-205973  21-12-2023     ST-4       P-72         1       P-72
162945    TR-9654  20-03-2022     ST-6       P-73         3       P-73

                     Product_Name Category_ID Launch_Date  Price Store_ID  \
252977   Apple Watch Nike Edition       CAT-5  2020-06-24    884    ST-68
778682            Mac Pro (Tower)       CAT-7  2022-10-31    458    ST-74
339704  iPad Air (5th Generation)       CAT-3  2021-03-06   1591     ST-9
936208                Apple News+       CAT-8  2022-01-26    253     ST-4
162945                  Apple One       CAT-8  2020-05-02    488     ST-6

                       Store_Name         City        Country category_id  \
252977       Apple Champs-Elysees        Paris         France       CAT-5
778682        Apple Central World      Bangkok       Thailand       CAT-7
339704  Apple Park Visitor Center    Cupertino  United States       CAT-3
936208            Apple The Grove  Los Angeles  United States       CAT-8
162945        Apple Grand Central     New York  United States       CAT-8

               category_name claim_id claim_date repair_status
252977              Wearable      NaN        NaN           NaN
778682               Desktop      NaN        NaN           NaN
339704                Tablet      NaN        NaN           NaN
936208  Subscription Service      NaN        NaN           NaN
162945  Subscription Service      NaN        NaN           NaN

In [80]:
df = mf.copy()

drop_cols = ['Product_ID', 'Category_ID', 'Store_ID', 'claim_id', 'claim_date', 'repair_status']
df.drop(columns=[col for col in drop_cols if col in df.columns], inplace=True, errors='ignore')

df.columns = df.columns.str.lower().str.strip()

df['sale_date'] = pd.to_datetime(df['sale_date'], format="%d-%m-%Y", errors='coerce')
df['launch_date'] = pd.to_datetime(df['launch_date'], format="%Y-%m-%d", errors='coerce')
df.head()

,sale_id,sale_date,store_id,product_id,quantity,product_name,launch_date,price,store_name,city,country,category_id,category_name
0,YG-8782,2023-06-16,ST-10,P-38,10,iPhone 13 Pro,2021-03-22,308,Apple South Coast Plaza,Costa Mesa,United States,CAT-4,Smartphone
1,QX-999001,2022-04-13,ST-63,P-48,10,Apple Watch Nike Edition,2020-06-24,884,Apple Parque La Colina,Bogota,Colombia,CAT-5,Wearable
2,JG-46890,2021-07-05,ST-26,P-79,5,Magic Trackpad,2024-05-25,1242,Apple Leidseplein,Amsterdam,Netherlands,CAT-10,Accessories
3,XJ-1731,2022-07-20,ST-15,P-24,9,iPad mini (6th Generation),2022-11-27,573,Apple Downtown Brooklyn,Brooklyn,United States,CAT-3,Tablet
4,FG-95080,2022-03-18,ST-35,P-69,7,Apple TV+,2024-11-04,404,Apple Shanghai IFC,Shanghai,China,CAT-8,Subscription Service

In [81]:
df['sales_amount'] = df['quantity'] * df['price']

df['product_age_days'] = (df['sale_date'] - df['launch_date']).dt.days
df['product_age_days'] = df['product_age_days'].clip(lower=0)

In [82]:
print(f"Total duplicate rows: {df.duplicated().sum()}")
df = df.drop_duplicates().reset_index(drop=True)
print(f"Total duplicate rows: {df.duplicated().sum()}")

print("Data cleaned successfully!")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")
display(df.head())

Total duplicate rows: 0
Total duplicate rows: 0
Data cleaned successfully!
Rows: 1040200, Columns: 15

,sale_id,sale_date,store_id,product_id,quantity,product_name,launch_date,price,store_name,city,country,category_id,category_name,sales_amount,product_age_days
0,YG-8782,2023-06-16,ST-10,P-38,10,iPhone 13 Pro,2021-03-22,308,Apple South Coast Plaza,Costa Mesa,United States,CAT-4,Smartphone,3080,816
1,QX-999001,2022-04-13,ST-63,P-48,10,Apple Watch Nike Edition,2020-06-24,884,Apple Parque La Colina,Bogota,Colombia,CAT-5,Wearable,8840,658
2,JG-46890,2021-07-05,ST-26,P-79,5,Magic Trackpad,2024-05-25,1242,Apple Leidseplein,Amsterdam,Netherlands,CAT-10,Accessories,6210,0
3,XJ-1731,2022-07-20,ST-15,P-24,9,iPad mini (6th Generation),2022-11-27,573,Apple Downtown Brooklyn,Brooklyn,United States,CAT-3,Tablet,5157,0
4,FG-95080,2022-03-18,ST-35,P-69,7,Apple TV+,2024-11-04,404,Apple Shanghai IFC,Shanghai,China,CAT-8,Subscription Service,2828,0

In [83]:
daily_sales = (
    df.groupby('sale_date', as_index=False)['sales_amount']
    .sum()
    .sort_values('sale_date')
)

In [84]:
all_days = pd.date_range(
    start=daily_sales['sale_date'].min(),
    end=daily_sales['sale_date'].max()
)
daily_sales = (
    daily_sales
    .set_index('sale_date')
    .reindex(all_days, fill_value=0)
    .rename_axis('sale_date')
    .reset_index()
)

In [85]:
display(daily_sales.head(50))
display(daily_sales.tail(50))

    sale_date  sales_amount
0  2020-01-01       3561364
1  2020-01-02       3086067
2  2020-01-03       3581790
3  2020-01-04       3278594
4  2020-01-05       3736297
5  2020-01-06       3461383
6  2020-01-07       3419966
7  2020-01-08       3669940
8  2020-01-09       3322243
9  2020-01-10       3491815
10 2020-01-11       3293885
11 2020-01-12       3255341
12 2020-01-13       3505325
13 2020-01-14       3163174
14 2020-01-15       3414172
15 2020-01-16       3310461
16 2020-01-17       3633333
17 2020-01-18       3420562
18 2020-01-19       3535598
19 2020-01-20       3663575
20 2020-01-21       3387940
21 2020-01-22       3610577
22 2020-01-23       3451558
23 2020-01-24       3220600
24 2020-01-25       3275555
25 2020-01-26       3554013
26 2020-01-27       3492976
27 2020-01-28       3524036
28 2020-01-29       3308230
29 2020-01-30       3829858
30 2020-01-31       3431735
31 2020-02-01       3558416
32 2020-02-02       3127176
33 2020-02-03       3668267
34 2020-02-04       3384472
35 2020-02-05       3357481
36 2020-02-06       3608767
37 2020-02-07       3434018
38 2020-02-08       3447954
39 2020-02-09       3483444
40 2020-02-10       3664747
41 2020-02-11       2968146
42 2020-02-12       3411902
43 2020-02-13       3284053
44 2020-02-14       3701053
45 2020-02-15       3382817
46 2020-02-16       3444524
47 2020-02-17       3289237
48 2020-02-18       3166992
49 2020-02-19       3220996

      sale_date  sales_amount
1728 2024-09-24       3433531
1729 2024-09-25       3577686
1730 2024-09-26       3579799
1731 2024-09-27       3350374
1732 2024-09-28       3389154
1733 2024-09-29       3601018
1734 2024-09-30       3681802
1735 2024-10-01       3597728
1736 2024-10-02       3393789
1737 2024-10-03       3479009
1738 2024-10-04       3533352
1739 2024-10-05       3496480
1740 2024-10-06       3460244
1741 2024-10-07       3594101
1742 2024-10-08       3743719
1743 2024-10-09       3202473
1744 2024-10-10       3446642
1745 2024-10-11       3615555
1746 2024-10-12       3323824
1747 2024-10-13       3504407
1748 2024-10-14       3444125
1749 2024-10-15       3642176
1750 2024-10-16       3467784
1751 2024-10-17       3512666
1752 2024-10-18       3693949
1753 2024-10-19       3612615
1754 2024-10-20       3396906
1755 2024-10-21       3472176
1756 2024-10-22       3317176
1757 2024-10-23       3845805
1758 2024-10-24       3666821
1759 2024-10-25       3404935
1760 2024-10-26       3551774
1761 2024-10-27       3608667
1762 2024-10-28       3532450
1763 2024-10-29       3299902
1764 2024-10-30       3689505
1765 2024-10-31       3393822
1766 2024-11-01       3639444
1767 2024-11-02       3323476
1768 2024-11-03       3683321
1769 2024-11-04       3389733
1770 2024-11-05       3581902
1771 2024-11-06       3681531
1772 2024-11-07       3433641
1773 2024-11-08       3293038
1774 2024-11-09       3345474
1775 2024-11-10       3797482
1776 2024-11-11       3253402
1777 2024-11-12       3397490

In [86]:
df = df.sort_values(by='sale_date', ascending=True).reset_index(drop=True)
df.head()

,sale_id,sale_date,store_id,product_id,quantity,product_name,launch_date,price,store_name,city,country,category_id,category_name,sales_amount,product_age_days
0,RW-18212,2020-01-01,ST-41,P-73,2,Apple One,2020-05-02,488,Apple Central World,Bangkok,Thailand,CAT-8,Subscription Service,976,0
1,RX-6848,2020-01-01,ST-31,P-40,7,iPhone SE (3rd Generation),2022-11-10,923,Apple Shinjuku,Tokyo,Japan,CAT-4,Smartphone,6461,0
2,SV-39198,2020-01-01,ST-9,P-73,7,Apple One,2020-05-02,488,Apple Park Visitor Center,Cupertino,United States,CAT-8,Subscription Service,3416,0
3,ZI-218670,2020-01-01,ST-20,P-70,1,Apple Fitness+,2021-05-06,923,Apple Kaerntner Strasse,Vienna,Austria,CAT-8,Subscription Service,923,0
4,VB-48589,2020-01-01,ST-60,P-18,9,Beats Solo Pro,2024-02-26,1773,Apple Antara,Mexico City,Mexico,CAT-2,Audio,15957,0

In [ ]:
missing_values = df.isnull().sum()


missing_percentage = (missing_values / len(df)) * 100


missing_report = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage (%)': missing_percentage
})


missing_report = missing_report[missing_report['Missing Values'] > 0].sort_values(by='Missing Values', ascending=False)


if missing_report.empty:
    print(" No missing values found in the dataset.")
else:
    print(" Missing values detected:")
    display(missing_report)

 No missing values found in the dataset.

In [88]:
print("Data cleaned successfully!")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")
display(df.head())

Data cleaned successfully!
Rows: 1040200, Columns: 15

,sale_id,sale_date,store_id,product_id,quantity,product_name,launch_date,price,store_name,city,country,category_id,category_name,sales_amount,product_age_days
0,RW-18212,2020-01-01,ST-41,P-73,2,Apple One,2020-05-02,488,Apple Central World,Bangkok,Thailand,CAT-8,Subscription Service,976,0
1,RX-6848,2020-01-01,ST-31,P-40,7,iPhone SE (3rd Generation),2022-11-10,923,Apple Shinjuku,Tokyo,Japan,CAT-4,Smartphone,6461,0
2,SV-39198,2020-01-01,ST-9,P-73,7,Apple One,2020-05-02,488,Apple Park Visitor Center,Cupertino,United States,CAT-8,Subscription Service,3416,0
3,ZI-218670,2020-01-01,ST-20,P-70,1,Apple Fitness+,2021-05-06,923,Apple Kaerntner Strasse,Vienna,Austria,CAT-8,Subscription Service,923,0
4,VB-48589,2020-01-01,ST-60,P-18,9,Beats Solo Pro,2024-02-26,1773,Apple Antara,Mexico City,Mexico,CAT-2,Audio,15957,0

In [89]:
df.head()

,sale_id,sale_date,store_id,product_id,quantity,product_name,launch_date,price,store_name,city,country,category_id,category_name,sales_amount,product_age_days
0,RW-18212,2020-01-01,ST-41,P-73,2,Apple One,2020-05-02,488,Apple Central World,Bangkok,Thailand,CAT-8,Subscription Service,976,0
1,RX-6848,2020-01-01,ST-31,P-40,7,iPhone SE (3rd Generation),2022-11-10,923,Apple Shinjuku,Tokyo,Japan,CAT-4,Smartphone,6461,0
2,SV-39198,2020-01-01,ST-9,P-73,7,Apple One,2020-05-02,488,Apple Park Visitor Center,Cupertino,United States,CAT-8,Subscription Service,3416,0
3,ZI-218670,2020-01-01,ST-20,P-70,1,Apple Fitness+,2021-05-06,923,Apple Kaerntner Strasse,Vienna,Austria,CAT-8,Subscription Service,923,0
4,VB-48589,2020-01-01,ST-60,P-18,9,Beats Solo Pro,2024-02-26,1773,Apple Antara,Mexico City,Mexico,CAT-2,Audio,15957,0

In [90]:
invalid_launch = df[df['launch_date'] > df['sale_date']]
print("Invalid launch dates:", len(invalid_launch))

Invalid launch dates: 493143

In [91]:
print("Missing launch_date:", df['launch_date'].isna().sum())

Missing launch_date: 0

In [93]:
df.loc[df['launch_date'] > df['sale_date'], 'launch_date'] = df['sale_date']
df['product_age_days'] = (df['sale_date'] - df['launch_date']).dt.days

In [95]:
df.head()

,sale_id,sale_date,store_id,product_id,quantity,product_name,launch_date,price,store_name,city,country,category_id,category_name,sales_amount,product_age_days
0,RW-18212,2020-01-01,ST-41,P-73,2,Apple One,2020-01-01,488,Apple Central World,Bangkok,Thailand,CAT-8,Subscription Service,976,0
1,RX-6848,2020-01-01,ST-31,P-40,7,iPhone SE (3rd Generation),2020-01-01,923,Apple Shinjuku,Tokyo,Japan,CAT-4,Smartphone,6461,0
2,SV-39198,2020-01-01,ST-9,P-73,7,Apple One,2020-01-01,488,Apple Park Visitor Center,Cupertino,United States,CAT-8,Subscription Service,3416,0
3,ZI-218670,2020-01-01,ST-20,P-70,1,Apple Fitness+,2020-01-01,923,Apple Kaerntner Strasse,Vienna,Austria,CAT-8,Subscription Service,923,0
4,VB-48589,2020-01-01,ST-60,P-18,9,Beats Solo Pro,2020-01-01,1773,Apple Antara,Mexico City,Mexico,CAT-2,Audio,15957,0

In [99]:
num_missing = df['launch_date'].isna().sum()
print(f"Number of missing launch_date values: {num_missing}")

num_unique = df['launch_date'].nunique()
print(f"Number of unique launch_date values: {num_unique}")

Number of missing launch_date values: 0
Number of unique launch_date values: 1770

In [ ]:
unique_values = df['launch_date'].dropna().unique()
print("Unique launch_date values (excluding NaN):")
print(unique_values)


num_unique = len(unique_values)
print(f"\nNumber of unique launch_date values (excluding NaN): {num_unique}")


unique_values_with_nan = df['launch_date'].unique()
print("\nUnique launch_date values (including NaN if any):")
print(unique_values_with_nan)

Unique launch_date values (excluding NaN):
<DatetimeArray>
['2020-01-01 00:00:00', '2020-01-02 00:00:00', '2020-01-03 00:00:00',
 '2020-01-04 00:00:00', '2020-01-05 00:00:00', '2020-01-06 00:00:00',
 '2020-01-07 00:00:00', '2020-01-08 00:00:00', '2020-01-09 00:00:00',
 '2020-01-10 00:00:00',
 ...
 '2024-10-26 00:00:00', '2024-10-27 00:00:00', '2024-10-28 00:00:00',
 '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
 '2024-11-01 00:00:00', '2024-11-02 00:00:00', '2024-11-03 00:00:00',
 '2024-11-04 00:00:00']
Length: 1770, dtype: datetime64[ns]

Number of unique launch_date values (excluding NaN): 1770

Unique launch_date values (including NaN if any):
<DatetimeArray>
['2020-01-01 00:00:00', '2020-01-02 00:00:00', '2020-01-03 00:00:00',
 '2020-01-04 00:00:00', '2020-01-05 00:00:00', '2020-01-06 00:00:00',
 '2020-01-07 00:00:00', '2020-01-08 00:00:00', '2020-01-09 00:00:00',
 '2020-01-10 00:00:00',
 ...
 '2024-10-26 00:00:00', '2024-10-27 00:00:00', '2024-10-28 00:00:00',
 '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
 '2024-11-01 00:00:00', '2024-11-02 00:00:00', '2024-11-03 00:00:00',
 '2024-11-04 00:00:00']
Length: 1770, dtype: datetime64[ns]

In [102]:
missing_sales_dates = df['sale_date'].isna().sum()
print(f"Number of missing sale_date values: {missing_sales_dates}")

Number of missing sale_date values: 0

In [103]:
os.makedirs("../data/processed", exist_ok=True)

df.to_csv("../data/processed/cleaned_apple_sales.csv", index=False)

print(" Cleaned dataset saved successfully to data/processed/cleaned_apple_sales.csv")

 Cleaned dataset saved successfully to data/processed/cleaned_apple_sales.csv